
<div class="container">

    <div class="row text-center" style="margin-top: 20px">
        <div class="col-md-3 text-right"> Back </div>
        <div class="col-md-6">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0</div>
             </div>
        </div>
        <div class="col-md-3 text-left"> List </div>
    </div>


    <div class="row text-center" style="margin-top: 20px" ng-if="count == 0">

        <div class="col-md-3"></div>
        <div class="col-md-6 text-center" ng-if="count == 0">
            <div class="row">
                <div class="col-md-12" style="font-size: 21px; margin-bottom: 20px;"> 
                    {{ activeQuestion.text }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12"> 
                    <button ng-click="personalList()" class="btn btn-primary" style="width: 100%;"> Ok </button>
                </div>
            </div>
        </div>  
        <div class="col-md-3"></div> 

    </div>

    <div class="row text-center" style="margin-top: 20px" ng-if="count >= 1">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <div class="row">
                <div class="col-md-12" style="font-size: 21px; margin-bottom: 20px;"> 
                    {{ activeQuestion.text }}
                </div>
                <div class="col-md-12">
                    <input type="text" ng-model="answer" class="form-control"/>
                </div>
            </div>

            <div class="row" style="margin-top: 20px">
                <div class="col-md-12"> 
                    <button  class="btn btn-primary" ng-disabled="" style="width: 100%;"> Ok </button>
                </div>
            </div>
        </div>  
        <div class="col-md-3"></div> 

    </div>






</div>