<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div class="logo">
        <img />{src: "/assets/logo.png", alt: "Periop"}</div>
      <p class="lead">
        This questionnaire helps Dr David Belavy plan for your care.
      </p>
      <p class="lead">
        Please complete a confidential health assessment for your anaesthetist.
      </p>
      <a class="btn btn-primary btn-lg">{'ui-sref' => 'assessment.question({code: assessment.currentQuestion().code})'}
        Fill in assessment</a>
      <p></p>
      <p></p>
      <p></p>
      <img />{src: "https://app.cloud66.com/stacks/badge/76e5d41b784e0135b4f941a5bbe1bb7f.svg", height: 10, width: 5,  align: "right"}<pinger></pinger>
    </div>
  </div>