
<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center mt-5">
          <div class="logo mt-5" style="margin: 20px 16px;">
            <img src="assets/logo.png" style="max-width: 100px;"/>
          </div>

          <p class="lead mt-5">
            This questionnaire helps Dr David Belavy plan for your care.
            {{ currentQuestion.code }}
          </p>
          <p class="lead">
            Please complete a confidential health assessment for your anaesthetist.
          </p>
          <br > 
          <a class="btn btn-primary btn-lg" onclick="get_assesment()">
            Fill in assessment
          </a>

      </div>
  </div>
</div>